<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Plasma Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Unused</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Unused</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Unused</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Unused</string>
	<key>NSCameraUsageDescription</key>
	<string>Enable to scan the QR code</string>
	<key>NSContactsUsageDescription</key>
	<string>Unused</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Unused</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Unused</string>
	<key>NSMotionUsageDescription</key>
	<string>Unused</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Unused</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Send photos to help resolve app issues</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Unused</string>
	<key>UIAppFonts</key>
	<array>
		<string>OMGFontIcon.ttf</string>
		<string>MessinaSans-Book.otf</string>
		<string>MessinaSans-Regular.otf</string>
		<string>MessinaSansMono-Book.otf</string>
		<string>MessinaSansMono-Regular.otf</string>
		<string>MessinaSansMono-SemiBold.otf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>MessinaSans-Light.otf</string>
		<string>MessinaSansMono-Light.otf</string>
		<string>MessinaSans-Bold.otf</string>
		<string>MessinaSans-SemiBold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
